.container{
  text-align: center;
  margin-bottom:1% ;
}

.App{

  width: 20%;
  border: solid rgb(41, 41, 41) 2px;
  border-radius: 2%;
  margin-bottom: 2%;
  color: black;
}

.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    color: black;
  
}

.content{
  width: 26%;
  border: solid rgb(182, 182, 182) 2px;
  border-radius: 2%;
  margin: 1%;
  padding: 1%;
  text-align: justify;
}

.title{
  text-align: center;
  font-size:xx-large;
  font-style: oblique;
  font-weight: bold;
}

.content img{

  width: 90%;
  height: auto;
  margin: 2%;

}
